body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

fieldset{
  margin:20px;
}

p {
  margin:50px;
  padding-left: 50px;
  background-color:lightgray;
  font-size:20px;
}

.fix{
  margin:50px;
}

.fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.caption {
    display: block;
}

.col-container {
  display: table; 
  width: 100%;
  text-align: center; 
}

.home{
  width:80%;
  margin:auto;
}

.col {
  display: table-cell;
}

figure {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding:35px;
    border: solid 5px white;
    text-align: center;
    background-color:lightgray
}

figure img {
    vertical-align: top;
    border: 3px solid #006D5B;
}
figure figcaption {
    text-align: center;
    width: 320px;
    font-size:20px;
}

a figcaption { 
    font-size:30px;
    background-color: #54c4b1;
    color:white;
    vertical-align:top;
    border: solid 3px #006D5B;
}

img {
  float: left;
  border-width: 3px;
  border-color:#333333;
  border-style: solid;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  text-align: left;
  margin:20px;
}

button{
  margin-top:20px;
}

.btn-primary{
  background-color:#006D5B;
  padding: 15px 40px;
}

.btn-primary:hover{
  background-color:#54c4b1;
}

.center {
  text-align: center;
}

.bg-steel {
  background-color: #006D5B;
}

.navbar-nav {
  margin-left: auto;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  width: 50%;
  margin:auto;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}