{% extends "layout.html" %}
{% block content %}
    <h2 class="center">Welcome to the Gaming Generator!</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <figure class="col-container home">
        <img src="{{ url_for('static', filename='JPEG_example_flower.jpg') }}" width="250px" height="250px">
            <p>This is a welcoming message for users<br>
            This message will describe use of the program,<br> 
            basically tell them how its useful and what to do<br>
            Then ask them to create an account<br>
            Sign up Below!</p>
        </figure>
    
   <div class="center">
        <button type="submit" class="btn btn-primary padding_50" onclick="location.href='register'">Sign Up!</button>
    </div>
    
{% endblock content %}
