{% extends "layout.html" %}
{% block content %}
    <h2 class="center big">Welcome to GreedyGamers!</h2>
        <div class="center home">
        <img src="{{ url_for('static', filename='5260498.png') }}" width="360px" height="360px">
            <p><span>In today’s market of online games, 
                building the perfect gaming environment can be stressful. 
                That’s where Gaming Generator comes in. 
                Simply enter a genre of games and a genre of music and we’ll recommend
                 the perfect options to get you in the zone. 
                <br>Sign up to try!<br></span></p>
        </div>
    
   <div class="center bt">
        <button type="submit" class="btn btn-primary padding_50" onclick="location.href='register'">Sign Up!</button>
    </div>
    
{% endblock content %}
